<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>Board Detail [[${bdto.bno}]]</h2>
<form action="/board/modify" method="post" id="modForm">
    <input type="hidden" name="bno" th:value="${bdto.bno}">
    Created At:
    <input type="text" th:value="${bdto.regAt}" readonly><br>
    Modified At:
    <input type="text" th:value="${bdto.modAt}" readonly><br>
    Title:
    <input type="text" name="title" th:value="${bdto.title}"><br>
    Writer:
    <input type="text" name="writer" th:value="${bdto.writer}" readonly><br>
    Content:
    <textarea name="content"  cols="30" rows="10" readonly>[[${bdto.content}]]</textarea><br>
    <button type="button" id="listBtn">List</button><br>
    <button type="button" id="modBtn">Modify</button><br>
    <button type="button" id="delBtn">Remove</button><br>
</form>
<form action="/board/remove" method="post" id="delForm" style="display: none;">
    <input type="hidden" name="bno" th:value="${bdto.bno}">
</form>
</body>
</html>